
<div class="modal">
  <div class="modal-body">
    <header class="modal-body-header">
      <img class="nube" src="../../../assets/card-one/nube copia 3 1.svg" alt="nube"/>
      <img class="media" src="../../../assets/card-one/Logo.png" alt="nube"/>
      <img class="loro" src="../../../assets/card-one/gacamaya 2.png" alt="nube"/>

    </header>
    <section class="modal-body-main">
      <div class="modal-body-main-imagenes">
        <img class="fondoUno" src="../../../assets/img/imagenes/teyuna-2.png" alt="fondo1">
        <div class="contendor-imagenes">
          <img class="fondoDos" src="../../../assets/img/imagenes/teyuna-3.png" alt="fondo1">
        <img class="fondoDos" src="../../../assets/img/imagenes/teyuna-1.png" alt="fondo1">
        </div>
      </div>
      <div class="modal-body-main-contenido">
        <a id="btn-cerrar-desk" [routerLink]="['/']">x</a>

        <h1>TEYUNA </h1>
        <h3>Donde la historia y la naturaleza se entrelazan en la Sierra Nevada de Santa Marta</h3>
        <p>Bienvenido a Teyuna, también conocida como la “Ciudad Perdida”, un tesoro arqueológico oculto en las profundidades de la selva de la Sierra Nevada de Santa Marta, en Colombia. Esta antigua ciudad Tayrona, construida hace más de mil años, es un testimonio fascinante de la civilización precolombina y una experiencia única para los viajeros que buscan aventura, historia y conexión con la naturaleza. </p>


          <h2>La Aventura comienza </h2>
          <p>Explorar Teyuna es mucho más que un simple viaje; es una expedición en la que los visitantes se sumergen en la selva tropical, cruzan ríos cristalinos y ascienden por empinadas montañas. La caminata hacia la Ciudad Perdida es una experiencia desafiante pero gratificante, donde cada paso te acerca un poco más a descubrir el antiguo misterio que yace en lo profundo del bosque. </p>
        
          <h2>Encuentro con la cultura Tayrona </h2>
          <p>Al llegar a Teyuna, los viajeros son recibidos por las ruinas de una ciudad antigua, con terrazas de piedra y estructuras arquitectónicas meticulosamente construidas. Los guías locales, descendientes de los Tayrona, comparten historias cautivadoras sobre la cultura, las tradiciones y las creencias espirituales de sus antepasados. Es una oportunidad para sumergirse en la riqueza cultural de una civilización perdida en el tiempo. </p>

          <h2>Vínculo con la naturaleza </h2>
          <p>Teyuna está inmersa en un entorno natural impresionante. La ciudad antigua se encuentra en medio de un paisaje de selva tropical, rodeada de cascadas, flora y fauna exóticas. Durante la caminata, los viajeros tienen la oportunidad de observar aves tropicales, mariposas coloridas y una variedad de plantas medicinales. Cada rincón de la selva revela la belleza y la biodiversidad de este ecosistema único. </p>

          <h2>Experiencia de retiro espiritual </h2>
          <p>Para muchos, Teyuna es más que un sitio arqueológico; es un lugar de retiro espiritual. La energía palpable que emana de las piedras ancestrales y la conexión con la naturaleza hacen de este lugar un espacio perfecto para la meditación y la reflexión. Algunos visitantes encuentran la paz y la serenidad en las ruinas, sintiendo una profunda conexión con las raíces espirituales de la tierra.  </p>

          <h2>Respeto por la naturaleza y la cultura </h2>
          <p>Es esencial visitar Teyuna con un profundo respeto por la naturaleza y la cultura indígena. Los viajeros son alentados a ser conscientes de su entorno, a dejar mínimas huellas y a respetar las tradiciones locales. Esta experiencia única debe ser preservada para las generaciones futuras, y el respeto mutuo entre los visitantes y los habitantes locales es fundamental para mantener la integridad de este sitio sagrado. </p>

          
      </div>
    </section>
    <footer>
      <img class="nube-footer" src="../../../assets/card-one/nube 2 1.svg" alt="nube"/>
    </footer>
  </div>
  <a id="cerrar-btn-mobile" [routerLink]="['/']">x</a>
</div>
