
<div class="modal">
  <div class="modal-body">
    <header class="modal-body-header">
      <img class="nube" src="../../../assets/card-one/nube copia 3 1.svg" alt="nube"/>
      <img class="media" src="../../../assets/card-one/Logo.png" alt="nube"/>
      <img class="loro" src="../../../assets/card-one/gacamaya 2.png" alt="nube"/>

    </header>
    <section class="modal-body-main">
      <div class="modal-body-main-imagenes">
        <img class="fondoUno" src="../../../assets/card-one/fondo 1 1.png" alt="fondo1">
        <div class="contendor-imagenes">
          <img class="fondoDos" src="../../../assets/card-one/fondo 1 2.png" alt="fondo1">
        <img class="fondoDos" src="../../../assets/card-one/fondo 1 2.png" alt="fondo1">
        </div>
      </div>
      <div class="modal-body-main-contenido">
        <a [routerLink]="['/']">X</a>

        <h1>cascada el din del mundo en mocoa, putumayo</h1>
        <h3>el inicio de una expedición inolvidable</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolore voluptatum, distinctio
          quisquam eligendi fuga voluptate repellat nesciunt. </p>
          <h2>hospedaje</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga magni neque quo, labore ratione totam, enim provident accusamus quaerat consequuntur iste perspiciatis ipsa veritatis molestias delectus blanditiis incidunt illum id?
          Debitis molestiae illum nisi aut iusto laboriosam minus quos reprehenderit deleniti quod, praesentium architecto sit voluptas blanditiis repudiandae cupiditate unde ipsam cumque, placeat beatae quisquam accusamus. Eligendi quasi consequuntur maxime?
          Velit iure mollitia accusantium officia perferendis, itaque nobis, sed reprehenderit, natus dolorem excepturi sit rerum labore saepe vel in repellendus. Eos odio ipsa nobis tempore quia minima optio itaque distinctio.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quod, rem obcaecati consequatur placeat error numquam sint, harum sapiente reiciendis dignissimos possimus veniam consequuntur inventore! Nam minus illo odio. Quo.
        Officiis eos fugiat molestiae aliquam architecto quis nam. Blanditiis, voluptates molestias repellat distinctio praesentium maxime possimus non error nam itaque mollitia. Id molestiae ratione non repellendus architecto facere in blanditiis.
        Quae repellendus natus eius aperiam velit impedit reiciendis ipsam consequuntur fugit repellat a voluptatem ipsa, quod sequi vel ab ea? Voluptatibus facilis rem sunt incidunt debitis doloremque, dolorum unde? Odio.</p>
      </div>
    </section>
    <footer>
      <img class="nube-footer" src="../../../assets/card-one/nube 2 1.svg" alt="nube"/>
    </footer>
  </div>
</div>
