
<div class="modal">
  <div class="modal-body">
    <header class="modal-body-header">
      <img class="nube" src="../../../assets/card-one/nube copia 3 1.svg" alt="nube"/>
      <img class="media" src="../../../assets/card-one/Logo.png" alt="nube"/>
      <img class="loro" src="../../../assets/card-one/gacamaya 2.png" alt="nube"/>

    </header>
    <section class="modal-body-main">
      <div class="modal-body-main-imagenes">
        <img class="fondoUno" src="../../../assets/img/imagenes/mavecure-2.png" alt="fondo1">
        <div class="contendor-imagenes">
          <img class="fondoDos" src="../../../assets/img/imagenes/mavecure-3.png" alt="fondo1">
        <img class="fondoDos" src="../../../assets/img/imagenes/mavecure-1.png" alt="fondo1">
        </div>
      </div>
      <div class="modal-body-main-contenido">
        <a id="btn-cerrar-desk" [routerLink]="['/']">x</a>

        <h1>CERROS DE MAVECURE, GUAINÍA</h1>
        <h3>LAS MONTAÑAS DE LOS DIOSES</h3>
        <p>Bienvenido a los Cerros de Mavecure, una de las montañas más antiguas de Latinoamérica, ubicada a 50 km al sur de la ciudad de Inírida.  En este precioso lugar podrás disfrutar de una espectacular vista de la selva y de los ríos que los rodean.   </p>
          <h2>Exploración Natural y Cultural  </h2>
          <p>Los Cerros de Mavecure es un lugar ideal para la escalada o el senderismo ecológico, también podrás apreciar los ecosistemas y paisajes del lugar, una oportunidad ideal para conocer las comunidades indígenas de la región y la belleza de la Amazonía colombiana y la Orinoquia. </p>

          <h2>A un paso del Parque de Tuparro </h2>
          <p>Si bien los cerros son el principal atractivo de la zona, lo cierto es que también hay lugares muy cerca como el Parque Tuparro que contiene una gran sabana verde, ríos, playas doradas, bosques y montañas donde viven aproximadamente 320 especies de aves y una gran variedad de especies acuáticas.  </p>

          <h2>Un encuentro entre la fauna y la flora </h2>
          <p>Los cerros cuentan con un entorno natural asombroso. En medio del lugar se encuentran armadillos, gallinazos, tigres, dantas, grandes serpientes, guacamayas entre otros animales exóticos. De igual forma, en los rincones de los cerros puedes encontrar orquídeas y la flor de Inírida.   </p>

          <h2>Encanto Cultural: La Comunidad Coco Viejo </h2>
          <p>A la ribera del Río Inírida, en el punto de confluencia de los ríos Guaviare e Inírida, y enriquecido con pictogramas legados por los antiguos habitantes, se localiza la Comunidad Coco Viejo. Sus residentes se dedican principalmente a la creación de artesanías tradicionales y a la práctica de la agricultura. Este lugar es imprescindible durante tu visita a Puerto Inírida.  </p>
          
          <h2>Cómo Llegar  </h2>
          
          <p>Para alcanzar la ubicación de los cerros, es esencial tomar un vuelo hacia Puerto Inírida, la capital del Guainía. Este trayecto aéreo tiene una duración aproximada de una hora y media desde Bogotá hasta Puerto Inírida. Desde ahí, se requiere abordar una lancha que nos llevará durante un trayecto de dos horas por el río Inírida hasta los Cerros.  </p>
        
      </div>
      
    </section>
    <footer>
      <img class="nube-footer" src="../../../assets/card-one/nube 2 1.svg" alt="nube"/>
    </footer>
  </div>
  <a id="cerrar-btn-mobile" [routerLink]="['/']">x</a>
</div>
