
<div class="modal">
  <div class="modal-body">
    <header class="modal-body-header">
      <img class="nube" src="../../../assets/card-one/nube copia 3 1.svg" alt="nube"/>
      <img class="media" src="../../../assets/card-one/Logo.png" alt="nube"/>
      <img class="loro" src="../../../assets/card-one/gacamaya 2.png" alt="nube"/>

    </header>
    <section class="modal-body-main">
      <div class="modal-body-main-imagenes">
        <img class="fondoUno" src="../../../assets/img/imagenes/gorgona-2.png" alt="fondo1">
        <div class="contendor-imagenes">
          <img class="fondoDos" src="../../../assets/img/imagenes/gorgona-3.png" alt="fondo1">
        <img class="fondoDos" src="../../../assets/img/imagenes/gorgona-1.png" alt="fondo1">
        </div>
      </div>
      <div class="modal-body-main-contenido">
        <a id="btn-cerrar-desk" [routerLink]="['/']">x</a>

        <h1>ISLA GORGONA  </h1>
        <h3>Bienvenido al paraíso natural de Isla Gorgona: donde la aventura encuentra la serenidad </h3>
        <p>Ingresa en un mundo de maravillas naturales y descubre la belleza salvaje de Isla Gorgona, un destino turístico verdaderamente único en la costa del Pacífico colombiano. Esta pequeña isla, envuelta por aguas cristalinas y rodeada de una extensa vegetación tropical, es un tesoro escondido que te ofrece una experiencia inolvidable en medio de la naturaleza.  </p>
          <h2>Explora la diversidad marina </h2>
          <p>Isla Gorgona es famosa por su rica biodiversidad marina. Sumérgete en las aguas turquesas que rodean la isla y descubre arrecifes de coral vibrantes, peces tropicales de colores brillantes y majestuosas tortugas marinas. Los entusiastas del buceo y el snorkel encontrarán un paraíso submarino lleno de vida y color.  </p>


          <h2>Aventuras en la selva  </h2>
          <p>El interior de la Isla Gorgona es el hogar de una variedad de especies de flora y fauna. Embárcate en emocionantes caminatas por la jungla y descubre la belleza natural de la isla. Podrás encontrarte con monos aulladores, tucanes y otras aves exóticas mientras avanzas por la espesura de la selva. </p>
         
          <h2>Historia y cultura </h2>
          <p>Además de su impresionante belleza natural, Isla Gorgona tiene una rica historia. En el pasado, fue utilizada como prisión, lo que añade un toque de misterio a su encanto. Aprende sobre la historia de la isla mientras exploras las ruinas de antiguas construcciones y descubres anécdotas de los cautivos y los guardias que alguna vez poblaron este lugar. </p>
         
          <h2>Conservación y ecoturismo  </h2>
          <p>Isla Gorgona es un santuario de vida silvestre y un ejemplo destacado de conservación marina. Participa en programas de ecoturismo que no solo te permitirán disfrutar de la belleza natural de la isla, sino también contribuir a su preservación. Únete a los esfuerzos de conservación de las tortugas marinas, participa en actividades de reforestación y aprende sobre la importancia de proteger los ecosistemas marinos. </p>

          <h2>Cómo llegar </h2>
          <p>Para llegar a Isla Gorgona, puedes tomar un barco desde la costa del Pacífico colombiano. A medida que te acerques a la isla, sentirás que crece la emoción, ante la perspectiva de explorar este paraíso natural. Asegúrate de traer tu espíritu aventurero y tu cámara para capturar los momentos inolvidables que vivirás en este rincón paradisíaco. </p>
          </div>
         
    </section>
    <footer>
      <img class="nube-footer" src="../../../assets/card-one/nube 2 1.svg" alt="nube"/>
    </footer>
  </div>
  <a id="cerrar-btn-mobile" [routerLink]="['/']">x</a>
</div>
