
<div class="modal">
  <div class="modal-body">
    <header class="modal-body-header">
      <img class="nube" src="../../../assets/card-one/nube copia 3 1.svg" alt="nube"/>
      <img class="media" src="../../../assets/card-one/Logo.png" alt="nube"/>
      <img class="loro" src="../../../assets/card-one/gacamaya 2.png" alt="nube"/>

    </header>
    <section class="modal-body-main">
      <div class="modal-body-main-imagenes">
        <img class="fondoUno" src="../../../assets/img/imagenes/galerazamba-2.png" alt="fondo1">
        <div class="contendor-imagenes">
          <img class="fondoDos" src="../../../assets/img/imagenes/galerazamba-3.png" alt="fondo1">
        <img class="fondoDos" src="../../../assets/img/imagenes/galerazamba-1.png" alt="fondo1">
        </div>
      </div>
      <div class="modal-body-main-contenido">
        <a id="btn-cerrar-desk" [routerLink]="['/']">x</a>

        <h1>GALERAZAMBA  </h1>
        <h3>Descubre la magia de Galerazamba, Bolívar: Un tesoro cultural en la costa caribe colombiana </h3>
        <p>Bienvenido a Galerazamba, un encantador pueblo en la costa caribeña de Colombia, donde la riqueza cultural se mezcla con la belleza natural para crear una experiencia turística verdaderamente inolvidable. Situado en el departamento de Bolívar, Galerazamba es un tesoro escondido que te invita a explorar su historia fascinante y a disfrutar de las vistas impresionantes costeras de Colombia. </p>


          <h2>Playas de ensueño y atardeceres mágicos </h2>
          <p>Las playas de Galerazamba te cautivarán con su arena suave y aguas cálidas y cristalinas. Relájate bajo el sol caribeño, sumérgete en el mar refrescante o camina por la orilla mientras observas las coloridas embarcaciones de pescadores que danzan en el horizonte. No te pierdas los atardeceres mágicos que pintan el cielo con tonos dorados y rosados, creando un ambiente romántico y sereno. </p>
        
          <h2>Historia y cultura </h2>
          <p>Galerazamba tiene una rica historia que se remonta a la época precolombina y que ha dejado huellas en su arquitectura y tradiciones locales. Explora las calles empedradas del pueblo y descubre las características casas coloniales que te transportan al pasado. Visita la iglesia local, que cuenta historias de fe y devoción, y aprende sobre las leyendas y mitos que han perdurado en la comunidad a lo largo de los años.
          </p>

          <h2>Las Salinas de Galerazamba: Un Fenómeno Natural Único </h2>
          <p>Uno de los principales atractivos de este mágico lugar son las Salinas de Galerazamba, un fenómeno natural impresionante que ha estado en funcionamiento desde tiempos precolombinos. Estas salinas forman un paisaje surrealista de lagunas rosadas y blancas, creando una vista espectacular que contrasta con el cielo azul y el verdor de los manglares circundantes. Aprende sobre el proceso de producción de sal y maravíllate con este fenómeno natural único mientras exploras las salinas.</p>

          <h2>Gastronomía deliciosa y auténtica </h2>
          <p>La cocina de Galerazamba es una delicia para los sentidos. Prueba los sabores auténticos del Caribe colombiano, desde deliciosos platos de pescado y mariscos frescos hasta exquisitas preparaciones de arroces y coco. No te pierdas la oportunidad de degustar las famosas arepas de huevo y los suculentos ceviches, acompañados de jugos naturales tropicales que te refrescarán en los días soleados. </p>

          <h2>Artesanía local y recuerdos inolvidables </h2>
          <p>Galerazamba es conocido por su artesanía local, incluyendo las famosas hamacas tejidas a mano y las coloridas cerámicas que capturan la esencia del pueblo y su gente. Lleva contigo recuerdos únicos de tu visita, como una hermosa hamaca o una pieza de cerámica, para mantener viva la magia de Galerazamba en tu hogar. </p>

          <h2>Cómo llegar </h2>
          <p>Galerazamba se encuentra a una corta distancia en coche desde la ciudad de Cartagena, lo que la convierte en una escapada perfecta para los viajeros que desean explorar la auténtica costa caribeña colombiana. El viaje te llevará a través de bellos paisajes, acercándote a la calidez y la hospitalidad de un lugar, donde cada rincón tiene una historia que contar y cada sonrisa te hace sentir como en casa.</p>
      </div>
    </section>
    <footer>
      <img class="nube-footer" src="../../../assets/card-one/nube 2 1.svg" alt="nube"/>
    </footer>
  </div>
  <a id="cerrar-btn-mobile" [routerLink]="['/']">x</a>
</div>
