
<div class="modal">
  <div class="modal-body">
    <header class="modal-body-header">
      <img class="nube" src="../../../assets/card-one/nube copia 3 1.svg" alt="nube"/>
      <img class="media" src="../../../assets/card-one/Logo.png" alt="nube"/>
      <img class="loro" src="../../../assets/card-one/gacamaya 2.png" alt="nube"/>

    </header>
    <section class="modal-body-main">
      <div class="modal-body-main-imagenes">
        <img class="fondoUno" src="../../../assets/img/imagenes/cascada-2.png" alt="fondo1">
        <div class="contendor-imagenes">
          <img class="fondoDos" src="../../../assets/img/imagenes/cascada-3.png" alt="fondo1">
        <img class="fondoDos" src="../../../assets/img/imagenes/cascada-1.png" alt="fondo1">
        </div>
      </div>
      <div class="modal-body-main-contenido">
        <a id="btn-cerrar-desk" [routerLink]="['/']">x</a>

        <h1>Cascada el fin del mundo en mocoa, putumayo</h1>
        <h3>Explora la Maravilla Natural de la Cascada del Fin del Mundo en Mocoa, Putumayo</h3>
        <p>Bienvenido a un paraíso escondido en el corazón de la selva amazónica colombiana, donde la naturaleza cobra vida en su forma más majestuosa. La Cascada del Fin del Mundo, en Mocoa, Putumayo, es un destino turístico que te sumerge en la belleza prístina de la naturaleza y te brinda una experiencia inolvidable en medio de exuberantes paisajes y aguas cristalinas. </p>

          <h2>Descubre la Cascada del Fin del Mundo </h2>
          <p>Ubicada en el Parque Nacional Natural Munchique Putumayo, la Cascada del Fin del Mundo es un espectáculo impresionante de la naturaleza en su máxima expresión. Esta majestuosa cascada, con sus aguas transparentes que caen desde alturas vertiginosas, crea un ambiente mágico y sereno que te dejará sin aliento. Sumérgete en sus piscinas naturales para disfrutar de un baño refrescante y rejuvenecedor, rodeado del murmullo del agua y la exuberante vegetación tropical. </p>

          <h2>Aventuras en la Selva </h2>
          <p>La Cascada del Fin del Mundo no es solo un lugar para admirar desde lejos; es un destino para los amantes de la aventura. Embárcate en emocionantes caminatas por la selva que te llevarán a través de senderos serpenteantes, puentes colgantes y miradores panorámicos. Descubre la diversidad de la flora y fauna local, desde coloridas aves tropicales hasta plantas exóticas que solo se encuentran en esta región del mundo. </p>

          <h2>Experiencias Inolvidables </h2>
          <ul>
            <li>
              <strong>Rituales Indígenas: </strong> Conoce la rica herencia cultural de las comunidades indígenas que habitan la zona. Participa en rituales tradicionales, aprende sobre las plantas medicinales y escucha las fascinantes historias que los nativos tienen para compartir sobre la cascada y su significado en su cultura.
            </li>
            <li>
            <strong>Avistamiento de Vida Silvestre: </strong>La biodiversidad en los alrededores de la Cascada del Fin del Mundo es asombrosa. Observa monos juguetones, mariposas multicolores y una variedad de reptiles mientras exploras la selva. Los amantes de la fotografía encontrarán innumerables oportunidades para capturar la belleza natural en su máxima expresión. 
            </li>
            <li>
            <strong>Camping bajo las Estrellas: </strong>Experimenta la magia de la selva en la noche. Disfruta de noches de camping bajo un cielo estrellado y despiértate con el sonido melodioso de los pájaros al amanecer. Las fogatas y las historias compartidas alrededor del fuego crean recuerdos inolvidables. 
            </li>
          </ul>
          <h2>Cómo Llegar </h2>
          <p>Para llegar a la Cascada del Fin del Mundo, puedes tomar un vuelo a Mocoa desde las principales ciudades colombianas y luego emprender un corto viaje en coche o en motocicleta hasta el parque nacional. A medida que te acerques al destino, la vegetación se volverá más densa y la emoción crecerá, anticipando la maravilla que te espera al final del camino. </p>
          

        
      </div>
    </section>
    <footer>
      <img class="nube-footer" src="../../../assets/card-one/nube 2 1.svg" alt="nube"/>
    </footer>
  </div>
  <a id="cerrar-btn-mobile" [routerLink]="['/']">x</a>
</div>
