
<div class="modal">
  <div class="modal-body">
    <header class="modal-body-header">
      <img class="nube" src="../../../assets/card-one/nube copia 3 1.svg" alt="nube"/>
      <img class="media" src="../../../assets/card-one/Logo.png" alt="nube"/>
      <img class="loro" src="../../../assets/card-one/gacamaya 2.png" alt="nube"/>

    </header>
    <section class="modal-body-main">
      <div class="modal-body-main-imagenes">
        <img class="fondoUno" src="../../../assets/img/imagenes/cueva-2.png" alt="fondo1">
        <div class="contendor-imagenes">
          <img class="fondoDos" src="../../../assets/img/imagenes/cueva-3.png" alt="fondo1">
        <img class="fondoDos" src="../../../assets/img/imagenes/cueva-1.png" alt="fondo1">
        </div>
      </div>
      <div class="modal-body-main-contenido">
        <a id="btn-cerrar-desk" [routerLink]="['/']">x</a>

        <h1>CUEVA DEL ESPLENDOR </h1>
        <h3>Explora la magia subterránea de la Cueva del Esplendor en Jardín, Antioquia </h3>
        <p>Bienvenido a la Cueva del Esplendor, un tesoro natural oculto en el corazón de Antioquia, Colombia. Esta maravilla subterránea, situada cerca del pueblo de Jardín, te invita a aventurarte en un mundo misterioso lleno de formaciones rocosas impresionantes, cascadas profundas y una atmósfera mágica que te transporta a un universo surrealista.
        </p>


          <h2>Un Viaje al Centro de la Tierra </h2>
          <p>La Cueva del Esplendor es mucho más que una cueva común; es un viaje al centro de la tierra que te permite descubrir las maravillas de la geología en su forma más pura. Al adentrarte en sus profundidades, te encontrarás rodeado de piedras colgantes, formaciones rocosas que se han esculpido lentamente durante miles de años. La cueva está viva, goteando agua desde el techo y creando piscinas naturales de un azul profundo que reflejan la luz de las linternas, creando un espectáculo de luces y sombras. </p>
        
          <h2>Cascadas Subterráneas y Pozas Cristalinas </h2>
          <p>Una de las características más impresionantes de la Cueva del Esplendor son las cascadas subterráneas que decoran sus paredes rocosas. El sonido suave del agua goteando y cayendo crea una melodía relajante mientras exploras el interior de la cueva. En algunas áreas, las cascadas forman pozos cristalinos en los que puedes sumergirte, disfrutando de un baño en medio de la naturaleza subterránea.  </p>

          <h2>Experiencia de Espeleología </h2>
          <p>Para los amantes de la aventura y la espeleología, la Cueva del Esplendor ofrece una oportunidad única para poner a prueba tus habilidades. Explora pasajes estrechos y galerías rocosas, descubre rincones escondidos y maravíllate con la complejidad del sistema de cuevas. Acompañado por guías locales expertos, aprenderás sobre la historia geológica de la cueva y las criaturas que habitan en sus rincones oscuros. </p>

          <h2>Respeto por la Naturaleza y la Cultura Local </h2>
          <p>Es esencial visitar la Cueva del Esplendor con un profundo respeto por la naturaleza y la comunidad local. Los guías y residentes locales se esfuerzan por preservar este tesoro natural, y los visitantes son alentados a seguir prácticas sostenibles y dejar solo huellas de admiración. La cueva es un lugar sagrado para la comunidad, y aprender sobre sus creencias y tradiciones es parte integral de la experiencia.   </p>

          <h2>Cómo Llegar </h2>
          <p>Para llegar a la Cueva del Esplendor, los visitantes pueden tomar una caminata escénica desde el pueblo de Jardín. La caminata te lleva a través de senderos rodeados de exuberante vegetación y te prepara para la maravilla que te espera en el interior de la cueva. </p>

          
      </div>
    </section>
    <footer>
      <img class="nube-footer" src="../../../assets/card-one/nube 2 1.svg" alt="nube"/>
    </footer>
  </div>
  <a id="cerrar-btn-mobile" [routerLink]="['/']">x</a>
</div>
