
<div class="modal">
  <div class="modal-body">
    <header class="modal-body-header">
      <img class="nube" src="../../../assets/card-one/nube copia 3 1.svg" alt="nube"/>
      <img class="media" src="../../../assets/card-one/Logo.png" alt="nube"/>
      <img class="loro" src="../../../assets/card-one/gacamaya 2.png" alt="nube"/>

    </header>
    <section class="modal-body-main">
      <div class="modal-body-main-imagenes">
        <img class="fondoUno" src="../../../assets/img/imagenes/nuqui-2.png" alt="fondo1">
        <div class="contendor-imagenes">
          <img class="fondoDos" src="../../../assets/img/imagenes/nuqui-3.png" alt="fondo1">
        <img class="fondoDos" src="../../../assets/img/imagenes/nuqui-1.png" alt="fondo1">
        </div>
      </div>
      <div class="modal-body-main-contenido">
        <a id="btn-cerrar-desk" [routerLink]="['/']">x</a>

        <h1>NUQUÍ </h1>
        <h3>Descubre la belleza natural y la cultura vibrante de Nuquí, Chocó: un tesoro escondido en la costa del pacífico Colombiano </h3>
        <p>Bienvenido a Nuquí, un paraíso tropical en la costa del Pacífico colombiano que combina la riqueza de la naturaleza con la autenticidad de su cultura afrodescendiente. Este destino es un verdadero tesoro escondido que te invita a explorar playas, selvas exuberantes y tradiciones culturales únicas, todo en un ambiente relajado y acogedor. </p>


          <h2>Playas de ensueño y aguas turquesas </h2>
          <p>Las playas de Nuquí son simplemente espectaculares. Kilómetros de arena dorada se extienden a lo largo de la costa, bordeadas por aguas cristalinas y olas suaves. Disfruta del sol radiante mientras te relajas en una hamaca, sumérgete en las refrescantes aguas del océano o da un paseo por la orilla mientras las olas acarician tus pies. Las puestas de sol en Nuquí son un espectáculo inolvidable, pintando el cielo con tonos dorados y rosados sobre el Pacífico. </p>
        
          <h2>Selvas tropicales y biodiversidad única </h2>
          <p>Nuquí es el punto de entrada a la majestuosa selva tropical del Chocó, hogar de una biodiversidad asombrosa. Embárcate en emocionantes excursiones para descubrir una variedad de flora y fauna, desde coloridas aves tropicales hasta monos juguetones y plantas exóticas. Los senderos te llevarán a cascadas escondidas y piscinas naturales, donde podrás nadar y disfrutar de la frescura de la naturaleza. </p>

          <h2>Cultura y tradiciones afrodescendientes </h2>
          <p>Nuquí es habitado por una comunidad afrodescendiente cálida y hospitalaria que celebra sus tradiciones culturales con música, danzas y deliciosa gastronomía local. Conoce la riqueza de la cultura afrochocoana mientras participas en bailes tradicionales. También podrás probar platos auténticos como el sancocho de pescado y el arroz con coco. Los ritmos de la música del Pacífico te invitarán a moverte al compás de la alegría y la pasión de la gente local. </p>

          <h2>Avistamiento de ballenas y vida marina </h2>
          <p>Nuquí es famoso por ser un lugar privilegiado para el avistamiento de ballenas jorobadas. Cada año, estas majestuosas criaturas migran a las cálidas aguas del Pacífico para reproducirse y dar a luz a sus crías. Los visitantes tienen la oportunidad de realizar excursiones en barco para observar de cerca a estas impresionantes ballenas, así como a delfines y otras especies marinas.</p>

          <h2>Aventuras acuáticas y surfeo </h2>
          <p>Los entusiastas de los deportes acuáticos encontrarán en Nuquí un paraíso para practicar surfeo, kayak y snorkel. Las olas del Pacífico ofrecen condiciones perfectas para los surfistas de todos los niveles, mientras que los arrecifes de coral son ideales para explorar la vida marina con snorkel. Las aguas tranquilas también son ideales para remar en kayak y descubrir las maravillas naturales de la costa. </p>

          <h2>Cómo llegar </h2>
          <p>A pesar de su encanto remoto, Nuquí es accesible en avión desde Medellín y otras ciudades colombianas. Desde el aeropuerto, los visitantes pueden tomar botes locales para llegar a las diferentes playas y alojamientos, sumergiéndose así en la auténtica experiencia costera. </p>
      </div>
    </section>
    <footer>
      <img class="nube-footer" src="../../../assets/card-one/nube 2 1.svg" alt="nube"/>
    </footer>
  </div>
  <a id="cerrar-btn-mobile" [routerLink]="['/']">x</a>
</div>
