
html, body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-family: 'Rubik', sans-serif;
  background-image: url("/assets/img/fondoBU.jpg");
  background-size: cover;
}




  