
<div class="modal">
  <div class="modal-body">
    <header class="modal-body-header">
      <img class="nube" src="../../../assets/card-one/nube copia 3 1.svg" alt="nube"/>
      <img class="media" src="../../../assets/card-one/Logo.png" alt="nube"/>
      <img class="loro" src="../../../assets/card-one/gacamaya 2.png" alt="nube"/>

    </header>
    <section class="modal-body-main">
      <div class="modal-body-main-imagenes">
        <img class="fondoUno" src="../../../assets/img/imagenes/mompox-2.png" alt="fondo1">
        <div class="contendor-imagenes">
          <img class="fondoDos" src="../../../assets/img/imagenes/mompox-3.png" alt="fondo1">
        <img class="fondoDos" src="../../../assets/img/imagenes/mompox-1.png" alt="fondo1">
        </div>
      </div>
      <div class="modal-body-main-contenido">
        <a id="btn-cerrar-desk" [routerLink]="['/']">x</a>

        <h1>MOMPOX  </h1>
        <h3>Descubre la Ciudad Colonial de Mompox: Tesoro Cultural en las Orillas del Río Magdalena </h3>
        <p>Bienvenido a Mompox, una joya colonial ubicada en las pintorescas orillas del río Magdalena en Colombia. Esta ciudad histórica, declarada Patrimonio de la Humanidad por la UNESCO, te transporta en el tiempo con su arquitectura colonial, calles empedradas y ambiente tranquilo. Descubre la rica historia, la artesanía exquisita y la hospitalidad cálida que hacen de Mompox un destino turístico imperdible en Colombia. </p>


          <h2>Historia y Patrimonio </h2>
          <p>Mompox, también conocida como Santa Cruz de Mompox, es una ciudad llena de historia y patrimonio. Pasea por sus calles empedradas y admira las casas coloniales bien conservadas que te cuentan historias de siglos pasados. Visita la iglesia de Santa Bárbara, una obra maestra arquitectónica, y explora los numerosos monumentos y sitios históricos que datan de la época de la colonia española. </p>
        
          <h2>Orfebrería y Artesanía </h2>
          <p>Mompox es famosa por su orfebrería y artesanía en filigrana, una tradición que ha sido transmitida de generación en generación. Visita los talleres locales y observa a los hábiles artesanos trabajar el oro y la plata para crear joyas y piezas decorativas impresionantes. Estas obras de arte son el reflejo del talento y la dedicación de los artesanos momposinos y hacen regalos perfectos para llevarte como recuerdo. </p>

          <h2>Gastronomía Deliciosa </h2>
          <p>La gastronomía de Mompox es una delicia para los paladares. Prueba los platos tradicionales de la región, como el pescado frito acompañado de arroz de coco y patacones. No te pierdas el mazamorra, un postre delicioso preparado con maíz y panela. Los restaurantes locales te ofrecen una auténtica experiencia culinaria momposina que te hará saborear la esencia de la región.  </p>

          <h2>Navegación en el Río Magdalena </h2>
          <p>El río Magdalena es una parte integral de la vida en Mompox. Disfruta de un paseo en barco por el río y admira los paisajes impresionantes mientras observas la vida cotidiana a lo largo de las orillas. La navegación te permite ver Mompox desde una perspectiva única y apreciar la belleza del entorno natural que rodea la ciudad. </p>

          <h2>Festivales y Tradiciones </h2>
          <p>Mompox es conocida por sus festivales y tradiciones animadas. Si tienes la oportunidad de visitar durante las festividades locales, como la Semana Santa o el Festival de Música, podrás sumergirte en la cultura vibrante de la ciudad. Disfruta de desfiles coloridos, música en vivo y danzas tradicionales que te brindarán una experiencia inolvidable.  </p>

          <h2>Cómo Llegar </h2>
          <p>Mompox se encuentra a unas horas en coche desde ciudades cercanas como Cartagena y Barranquilla. El viaje te lleva a través de paisajes pintorescos y te ofrece la oportunidad de explorar otras gemas escondidas en el camino. Una vez que llegues, serás recibido por la calidez de la gente local y la belleza intemporal de esta ciudad colonial.  </p>
      </div>
    </section>
    <footer>
      <img class="nube-footer" src="../../../assets/card-one/nube 2 1.svg" alt="nube"/>
    </footer>
  </div>
  <a id="cerrar-btn-mobile" [routerLink]="['/']">x</a>
</div>
